@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Lora:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&family=Vollkorn:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #212121;
}

/* header and ribbon */

header {
    height: 75px;
    width: 100%;
    background-color: #ffe7c3;
}

#ribbon {
    width: 100%;
    height: 20px;
    position: fixed;
    top: 75px;
    background-color: #1f2e7a;
    z-index: 1;
}
/* headings and logo */

#logo {
    height: inherit;
    width: 50%;
    text-decoration: none;
    background-color: #e3120a;
    color: white;
    position: absolute;

    font-family: 'Lora', 'Vollkorn', serif;
    font-weight: 900;
    line-height: 200%;
    text-align: center;
}

#logo > h1 {
    position: relative;
    top: 5%;
}

/* navigation links */

nav {
    
    height: inherit;
    width: 50%;
    background-color: inherit;
    position: fixed;
    top: 0;
    right: 0;
}
#menu li {
    line-height: 75px;
    text-align: center;
    width: 33.3%;
    float: right;
    list-style-type: none;
}

#menu a {
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Roboto', 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 130%;
    letter-spacing: 0.5px;
    color: #212121;
    position: relative;
    top: 7px;
}

#menu a:hover {
    color: rgba(33, 33, 33, 0.5);
}

.active {
    border-top: 7px solid #e3120a;
}

/* left section */

#section-left {
    height: 600px;
    width: 50%;
    position: absolute;
    top: 75px; left: 0px;
    overflow:hidden;
    background-color: #ffe7c3;
}

#big-letters {
    width: 75%;
    height: 50%;
    position: absolute;
    top: 15%;
    left: 10%;
    float: left;
}

#big-letters > h2 {
    font-family: 'Roboto', 'Cabin', sans-serif;
    font-weight: 900;
    font-size: 500%;
    line-height: 110%;
    color: #212121;
}

#big-letters p {
    display: inline;
    color: #e3120a;
}

/* learn more */

#learn-more {
    position: absolute;
    right: 0;
    bottom: 5%;
    padding: 10px;
    background-color: #212121;
    border: 4px solid #212121;
}

#learn-more:hover{
    background-color: #ffe7c3;
    border: 4px solid #212121;
}

#learn-more a:hover {
    color: #212121;
}

#learn-more a {
    font-family: 'Roboto', 'Cabin', sans-serif;
    font-size: 190%;
    font-weight: 700;
    text-decoration: none;
    color: #ffe7c3;
}

/* section right */

#section-right {
    height: 600px;
    width: 50%;
    position: absolute;
    top: 75px; right: 0px;
    overflow: hidden;
    background: url('../images/bridge1.jpg') no-repeat 55% 40%;}


/* footer */

footer {
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background-color: #1f2e7a;
    z-index: 1;
}

.social-links {
    text-align: center;
}

.social-links > li {
    list-style-type: none;
    padding: 7px 10px 0;
    display: inline-block;
    z-index: 2;
}

.social-links i {
    font-size: 160%;
    color: #ffe7c3;
    z-index: 2;
}

.social-links i:hover {
    color: rgba(255, 231, 195, 0.5);
}