@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Lora:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&family=Vollkorn:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #212121;
}

/* header, logo and ribbon */

header {
    height: 90px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #212121;
    position: fixed;
    top: 0;
    z-index: 1;
}

#logo {
    height: inherit;
    width: 35%;
    text-decoration: none;
    background-color: #ea473c;
    border-right: 1px solid #212121;
    position: fixed;
    text-align: center;
}

#logo > h1 {
    height: 100%;
    width: 100%;
    font-size: 250%;
    color: white;
    font-family: 'Lora', 'Vollkorn', serif;
    font-weight: 900;
}

#logo span {
    font-size: 60%;
}

/* navigation links */

nav {
    height: inherit;
    width: 65%;
    position: fixed;
    right: 0;
    background-color: white;
}

#logo, #menu li {
    line-height: 90px;
}

#menu li  {
    height: 100%;
    width: 15%;
    text-align: center;
    float: right;
    list-style-type: none;
}

#menu a {
    padding-top: 10px;
    text-decoration: none;
    font-family: 'Roboto', 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 130%;
    letter-spacing: 0.25px;
    color: #212121;
    position: relative;
    top: 7px;
}

#menu a:hover {
    color: rgba(33, 33, 33, 0.5);
}

.active {
    border-top: 5px solid #ea473c
}

/* left section */

#big-letters {
    width: 35%;
    height: 100%;
    position: relative;
    left: 0;
    border-right: 1px solid #212121;
    
}

#big-letters > h2 {
    width: 80%;
    height: 75%;
    font-family: 'Roboto', 'Cabin', sans-serif;
    font-weight: 900;
    font-size: 500%;
    line-height: 120%;
    color: #212121;
    position: absolute;
    left: 5%;
    top: 5%;
}

#big-letters span {
    color: #ea473c;
}

/* learn more */

#learn-more {
    position: absolute;
    left: 30%;
    bottom: 10%;
    padding: 10px;
    background-color: #212121;
    border: 4px solid #212121;

}

#learn-more:hover{
    background-color: #ffe7c3;
    border: 4px solid #212121;
}

#learn-more:hover #learn-more2 {
    color: #212121;
}

#learn-more a {
    font-family: 'Roboto', 'Cabin', sans-serif;
    font-size: 190%;
    font-weight: 600;
    text-decoration: none;
    color: #ffe7c3;
}

/* main section */

#main {
    width: 100%;
    height: 85%;
    position: absolute;
    top: 10%;
    background-color: wheat;
}

#homepage-image {
    width: 65%;
    height: 100%;
    position: absolute;
    right: 0;
    
    background-image: url('../images/main-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;

}

/* footer */

footer {
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #212121;
}

footer > ul, li {
    height: 100%;
}

.social-links {
    text-align: center;
    position: relative;
}

.social-links > li {
    list-style-type: none;
    padding: 15px 20px 0;
    display: inline-block;
    line-height: 5%;
}

.social-links i {
    font-size: 130%;
    color: #212121;
    z-index: 2;
}

.social-links i:hover {
    color: rgba(33, 33, 33, 0.5);
}

/* HISTORY */

#history-main {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 5%;
}

#center {
    width: 50%;
    margin-inline: auto;
    background-color: white;
}

#center h2 {
    text-align: center;
    font-family: 'Roboto', 'Cabin', sans-serif;
    text-decoration: underline;
}

#center p {
    font-size: 120%;
    line-height: 30px;
    margin-bottom: 100px;
}

#center span {
    font-size: 160%;
}

/* index table and introduction */

#contents-intro {
    width: 100%;;
}
#contents {
    width: 1px;
    min-width: 375px;
    height: auto;
    left: 5%;
    top: 60px;
    padding: 20px 20px 60px;
    background-color: #f5f4f0;
    border-top: 7px solid #e3120a;
    margin-inline: auto;
    margin-bottom: 5%;
}

#contents > h2 {
    font-family: 'Roboto', 'Cabin', sans-serif;
    text-align: center;
    font-weight: 300;
    position: relative;
    top: 15px;
}

#contents > ol {
    width: 80%;
    height: auto;
    line-height: 30px;
    position: relative;
    top: 20px;
    left: 30px;
}

#contents a {
    font-family: 'Roboto', 'Cabin', sans-serif;
    font-size: 110%;
    color: #e3120a;
}

#contents a:hover {
    text-decoration: none;
    color: #212121;
}

#section-big-box {
    width: 100%;
    height: auto;
}

/* gallery */

#photos {
    clear: both;
    column-count: 4;
    column-gap: 0;
    line-height: 0;
}

#photos > img {
    width: 100%;
}